/* Container */
.contact-container {
  text-align: center;
  padding: 40px 20px;
}

/* Buttons wrapper */
.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

/* Box style */
.contact-btn {
  width: 120px;
  height: 120px;
  background: #5B7917;
  color: white;
  text-decoration: none;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: bold;

  transition: 0.3s;
}

/* Icons */
.contact-btn i {
  font-size: 28px;
  margin-bottom: 8px;
}

/* Hover effect */
.contact-btn:hover {
  background: #4a6313;   /* darker */
  transform: scale(1.05);
}

/* Click effect */
.contact-btn:active {
  transform: scale(0.95);
}